<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  
  <system.serviceModel>
    
    
    
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    
    <bindings>
      <webHttpBinding>
        <binding name="regularService" />
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <!--<webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"/>-->
          <extendedWebHttp automaticFormatSelectionEnabled="true" helpEnabled="true"/>
         
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    
    <extensions>
      <behaviorExtensions>
        <add name="extendedWebHttp" type="WcfFormatAutoSelect.ExtendedWebHttpElement, WcfFormatAutoSelect, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
    <services>
      <service name="WcfFormatAutoSelect.Service1">
        
        <endpoint address="" 
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding" 
                  bindingConfiguration="regularService"
                  contract="WcfFormatAutoSelect.IService1" />
      </service>
    </services>
    
    
    
    <!--<services>
      <service name="WcfFormatAutoSelect.Service1" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                               binding="webHttpBinding"
                               contract="WcfFormatAutoSelect.IService1"
                              behaviorConfiguration="web">

        </endpoint>
      </service>
    </services>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          --><!--<webHttp />--><!--
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->


    
    
    
    
    
    
    
    
    
    <!--<behaviors>

      -->
    <!--<endpointBehaviors>
        <behavior>
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>-->
    <!--
      
      <serviceBehaviors>
        <behavior>
          
          -->
    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
    <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>   
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
